<section [ngClass]="'mt-3'">
  <h5 [ngClass]="'text-success'">Experiência profissional</h5>
  <div *ngFor="let work of works" [ngClass]="'work'">
    <div [ngClass]="'metadata mx-2 p-2'">
      <p [ngClass]="'font-weight-bold'">Empresa:</p>
      <h6 [ngClass]="'text-success'">{{ work?.companyName }}</h6>
      <p [ngClass]="'font-weight-bold'">Desde:</p>
      <h6 [ngClass]="'text-success'">{{ work?.since }}</h6>
    </div>
    <div [ngClass]="'description mx-2 p-2'">
      <div [ngClass]="'description-skills'">
        <p [ngClass]="'font-weight-bold'">Skills utilizadas:</p>
        <span *ngFor="let skill of work?.skills" [ngClass]="'mx-1'">
          <p [ngClass]="'badge badge-pill bg-success'">
            {{ skill?.name }}
          </p>
        </span>
      </div>
      <div [ngClass]="'description-text'">
        <p>
          {{ work?.description }}
        </p>
      </div>
    </div>
  </div>
</section>
